td {
  border: 1px solid #F0F0F0;
}
.flower {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin: 15px auto;
  overflow: hidden;
}
.flower .content {
  position: relative;
  width: 70px;
  height: 70px;
  top: -70px;
  text-align: center;
}
.flower .content .link {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  color: white;
}
.flower .content .link:hover {
  color: white;
  text-decoration: none;
}
.wet {
  background-color: #428bca;
}
.dry {
  background-color: #f0ad4e;
}
#detail {
  height: 619px;
  border: 1px solid #F0F0F0;
  overflow: scroll;
}
#detail .humidity {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 40px;
  overflow: hidden;
  float: right;
  margin-top: 12px;
}
#detail .humidity .content {
  position: relative;
  text-align: center;
  width: 100px;
  top: -30px;
  color: white;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pulse {
  0% {
    background: #f0ad4e;
  }
  12% {
    background: #990033;
  }
  24% {
    background: #f0ad4e;
  }
  36% {
    background: #990033;
  }
  48% {
    background: #f0ad4e;
  }
}
